<main class='main'>
  {{#with data}}
    <div class='main__content'>
      <div class='header'>

        <div class='header__block'>
          <h1 class='title'>Моя бібліотека</h1>
        </div>

        <div class='header__block'>
          <a href='/spotify-search' class='add-button' data-text="Шукати плейліст">
            <img src='/svg/search.svg' />
          </a>
          <a href='/spotify-choose' class='add-button' data-text="Додати плейліст">
            <img src='/svg/addTrack_button.svg' />
          </a>
        </div>

      </div>

      <ul class='playlist-list'>
        {{#each list}}
          <li class='playlist__card'>
            <img
              src='/img/firstPlaylist.png'
              {{!-- src='{{../image}}' --}}
              class='playlist__image'
            />
            <div class='playlist__content'>
              <strong
                class='title'
              >{{name}}</strong>
              <p>
                {{../tracksCount}}
                пісень
              </p>
            </div>

            {{!--<div class='playlist__content'>
              <form
                method='POST'
                action='/spotify-playlist?playlistId={{playlistId}}'
                class='form'
              >
                <input type="hidden" name="playlistId" value="{{../playlistId}}">
                <button type="submit" class='add-button'
                  data-text='Переглянути плейліст'>
                  <img src='/svg/eye.svg' />
                </button>

                {{!-- <a
                  href='/spotify-playlist?playlistId={{playlistId}}'
                  class='add-button'
                  data-text='Переглянути плейліст'
                >
                  <img src='/svg/eye.svg' />
                </a>
              </form>
              
                <a
                  href='/spotify-library-delete?playlistId={{playlistId}}'
                  class='add-button'
                  data-text='Видалити плейліст'
                >
                  <img src='/svg/delete_button.svg' />
                </a>              
            </div> --}}
            
          </li>
        {{/each}}
      </ul>

    </div>
  {{/with}}
</main>